# <div style="color:red;text-align:center;">pandas切片操作</div>

这篇主要讲解如何对pandas的DataFrame进行切片，包括取某行、某列、某几行、某几列、以及多重索引的取数方法。

    • 选取行名、列名、值
    • 以标签（行、列的名字）为索引选择数据—— x.loc[行标签,列标签]
    • 以位置（第几行、第几列）为索引选择数据—— x.iloc[行位置,列位置]
    • 同时根据标签和位置选择数据——x.ix[行,列]
    • 选择连续的多行多列——切片

In [2]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.arange(20).reshape((4,5)),index=list("ABCD"),columns=list("vwxyz"))
print(data)

    v   w   x   y   z
A   0   1   2   3   4
B   5   6   7   8   9
C  10  11  12  13  14
D  15  16  17  18  19

### 取DataFrame的某行

In [17]:
data[1:2]

   v  w  x  y  z
B  5  6  7  8  9

In [19]:
data.iloc[1:2,:]

   v  w  x  y  z
B  5  6  7  8  9

In [20]:
data.iloc[2,3]

13

### 取DataFrame的某列

In [4]:
print(data["x"])

A     2
B     7
C    12
D    17
Name: x, dtype: int32

In [5]:
print(data.x)

A     2
B     7
C    12
D    17
Name: x, dtype: int32

In [11]:
print(data.iloc[:,2])

A     2
B     7
C    12
D    17
Name: x, dtype: int32

### 取DataFrame某几列的两种方法

In [12]:
print(data[["x","y"]])

    x   y
A   2   3
B   7   8
C  12  13
D  17  18

In [13]:
print(data.iloc[:,:2])

    v   w
A   0   1
B   5   6
C  10  11
D  15  16

In [14]:
print(data.iloc[:,:-2:1])

    v   w   x
A   0   1   2
B   5   6   7
C  10  11  12
D  15  16  17

In [16]:
print(data.iloc[:,-1:-3:-1])

    z   y
A   4   3
B   9   8
C  14  13
D  19  18